{% extends "layout.html" %}

{% block title %}
Train
{% endblock %}

{% block main %}
<form action="/test" method="post" id="uploadForm" enctype="multipart/form-data">

    <div class="mb-3" id="file">
        <input class="form-control w-auto" id="up" type="file" name="up" accept=".csv,.xls,.xlsx,.xlsm">
    </div>
    <div>
        <button class="btn btn-secondary d-inline" type="submit" name="action" value="test">Predict</button>
    </div>
</form>
<div style="margin-top: 10px; display: none;" id="dowload">

</div>
<script>
   $("#uploadForm").on("submit", function (e) {
    e.preventDefault();

    let formData = new FormData(this); // Lấy dữ liệu từ form

    // Hiển thị spinner để báo hiệu đang tải
    $("#loadingSpinner").show();

    $.ajax({
        url: "/test", // URL của endpoint xử lý backend
        type: "POST",
        data: formData,
        contentType: false, // Không xử lý dữ liệu content-type
        processData: false, // Không xử lý dữ liệu processData
        success: function (response) {

            $("#dowload").show();
        },
        error: function (xhr, status, error) {
        

            // Xử lý lỗi và hiển thị thông báo
            let errorMessage = xhr.responseJSON?.error || "Có lỗi xảy ra khi gửi dữ liệu.";
            alert(errorMessage);
        },
    });
});

</script>
{% endblock %}